Adafruit-Blinka
adafruit-bmp
adafruit-circuitpython-amg88xx
adafruit-circuitpython-bme680
adafruit-circuitpython-si7021
adafruit-circuitpython-tcs34725
adafruit-circuitpython-tsl2561
fdbk
RPi.GPIO
pigpio
